.container
{
    background-color: var(--ic-architectural-40);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    border-radius: 10px;

}

.headerContainer
{

}

.dataContainer
{
    display: flex;
    flex-direction: column;

}